afip-soap-server/src/main/resources/xsd/afip-invoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.afip.soap.server/invoice"
           targetNamespace="http://www.afip.soap.server/invoice"
           elementFormDefault="qualified">

    <!-- ============================================================ -->
    <!--  ENUMERATIONS                                                -->
    <!-- ============================================================ -->

    <!-- Invoice types supported by the system -->
    <xs:simpleType name="InvoiceType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INVOICE_A"/>   <!-- Factura A - registered taxpayers     -->
            <xs:enumeration value="INVOICE_B"/>   <!-- Factura B - end consumers             -->
            <xs:enumeration value="INVOICE_C"/>   <!-- Factura C - non-registered taxpayers  -->
            <xs:enumeration value="CREDIT_NOTE"/> <!-- Nota de crédito                       -->
            <xs:enumeration value="DEBIT_NOTE"/>  <!-- Nota de débito                        -->
        </xs:restriction>
    </xs:simpleType>

    <!-- VAT (IVA) rates accepted by AFIP -->
    <xs:simpleType name="VatRate">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EXEMPT"/>   <!-- 0%   - Exento          -->
            <xs:enumeration value="ZERO"/>     <!-- 0%   - No gravado      -->
            <xs:enumeration value="VAT_10_5"/> <!-- 10.5%                  -->
            <xs:enumeration value="VAT_21"/>   <!-- 21%                    -->
            <xs:enumeration value="VAT_27"/>   <!-- 27%                    -->
        </xs:restriction>
    </xs:simpleType>

    <!-- Final status returned by AFIP after processing -->
    <xs:simpleType name="AuthorizationStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APPROVED"/>  <!-- CAE issued, invoice is valid  -->
            <xs:enumeration value="REJECTED"/>  <!-- Validation failed             -->
            <xs:enumeration value="PENDING"/>   <!-- Queued for async processing   -->
        </xs:restriction>
    </xs:simpleType>

    <!-- ============================================================ -->
    <!--  SHARED COMPLEX TYPES                                        -->
    <!-- ============================================================ -->

    <!-- A single line item inside the invoice -->
    <xs:complexType name="InvoiceItem">
        <xs:sequence>
            <xs:element name="description"  type="xs:string"         minOccurs="1" maxOccurs="1"/>
            <xs:element name="quantity"     type="xs:decimal"         minOccurs="1" maxOccurs="1"/>
            <xs:element name="unitPrice"    type="xs:decimal"         minOccurs="1" maxOccurs="1"/>
            <xs:element name="vatRate"      type="tns:VatRate"        minOccurs="1" maxOccurs="1"/>
            <xs:element name="subtotal"     type="xs:decimal"         minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Taxpayer identification (sender or receiver) -->
    <xs:complexType name="TaxpayerInfo">
        <xs:sequence>
            <xs:element name="cuit"         type="xs:string"  minOccurs="1" maxOccurs="1"/>  <!-- e.g. 20-12345678-9 -->
            <xs:element name="businessName" type="xs:string"  minOccurs="1" maxOccurs="1"/>
            <xs:element name="address"      type="xs:string"  minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ============================================================ -->
    <!--  REQUEST — sent by billing-client to afip-soap-server        -->
    <!-- ============================================================ -->

    <xs:element name="AuthorizeInvoiceRequest">
        <xs:complexType>
            <xs:sequence>

                <!-- Unique identifier generated by the client system -->
                <xs:element name="externalInvoiceId" type="xs:string"           minOccurs="1" maxOccurs="1"/>

                <!-- Invoice classification -->
                <xs:element name="invoiceType"       type="tns:InvoiceType"     minOccurs="1" maxOccurs="1"/>

                <!-- Invoice issue date — format: YYYY-MM-DD -->
                <xs:element name="issueDate"         type="xs:date"             minOccurs="1" maxOccurs="1"/>

                <!-- Issuer (the company that emits the invoice) -->
                <xs:element name="issuer"            type="tns:TaxpayerInfo"    minOccurs="1" maxOccurs="1"/>

                <!-- Receiver (the customer being billed) -->
                <xs:element name="receiver"          type="tns:TaxpayerInfo"    minOccurs="1" maxOccurs="1"/>

                <!-- Line items (at least one required) -->
                <xs:element name="items">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="item" type="tns:InvoiceItem" minOccurs="1" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Monetary totals -->
                <xs:element name="netAmount"         type="xs:decimal"          minOccurs="1" maxOccurs="1"/>  <!-- Before VAT      -->
                <xs:element name="vatAmount"         type="xs:decimal"          minOccurs="1" maxOccurs="1"/>  <!-- Total VAT       -->
                <xs:element name="totalAmount"       type="xs:decimal"          minOccurs="1" maxOccurs="1"/>  <!-- netAmount + VAT -->

                <!-- Optional: point of sale number (punto de venta) -->
                <xs:element name="pointOfSale"       type="xs:integer"          minOccurs="0" maxOccurs="1"/>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ============================================================ -->
    <!--  RESPONSE — returned by afip-soap-server to billing-client   -->
    <!-- ============================================================ -->

    <xs:element name="AuthorizeInvoiceResponse">
        <xs:complexType>
            <xs:sequence>

                <!-- Mirrors the client's externalInvoiceId for correlation -->
                <xs:element name="externalInvoiceId" type="xs:string"                minOccurs="1" maxOccurs="1"/>

                <!-- Final authorization status -->
                <xs:element name="status"            type="tns:AuthorizationStatus"  minOccurs="1" maxOccurs="1"/>

                <!-- CAE code — populated only when status = APPROVED -->
                <xs:element name="cae"               type="xs:string"                minOccurs="0" maxOccurs="1"/>

                <!-- CAE expiration date — format: YYYY-MM-DD -->
                <xs:element name="caeExpirationDate" type="xs:date"                  minOccurs="0" maxOccurs="1"/>

                <!-- AFIP internal invoice number assigned upon approval -->
                <xs:element name="afipInvoiceNumber" type="xs:long"                  minOccurs="0" maxOccurs="1"/>

                <!-- Human-readable result message (approval note or rejection reason) -->
                <xs:element name="message"           type="xs:string"                minOccurs="1" maxOccurs="1"/>

                <!-- Timestamp of AFIP processing — format: YYYY-MM-DDTHH:MM:SS -->
                <xs:element name="processedAt"       type="xs:dateTime"              minOccurs="1" maxOccurs="1"/>

                <!-- Validation errors — populated only when status = REJECTED -->
                <xs:element name="errors" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="error" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="code"        type="xs:string"/>  <!-- e.g. ERR_001        -->
                                        <xs:element name="description" type="xs:string"/>  <!-- Human-readable text  -->
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
